@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-sm: 340px;
    --breakpoint-md: 540px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1180px;

    --font-jost: "Jost", sans-serif;
    --font-lobster: "Lobster", sans-serif;

}

body {
    @apply bg-green-950 text-white font-jost tracking-wider
}

section {
    @apply py-20 md:py-28
}

h1 {
    @apply text-3xl md:text-4xl xl:text-5xl font-bold
}

.container {
    @apply mx-auto lg:mx-10 md:mx-8 sm:mx-6
}
.nav-link {
    @apply text-lg font-bold duration-300
}

.nav-link:hover {
    @apply text-yellow-400
}

.btn {
    @apply border border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300 cursor-pointer
}

.btn span{
    @apply font-bold
}

.btn:hover{
    @apply opacity-80
}

.btn_outline {
    @apply bg-transparent
}

.btn_outline:hover {
    @apply bg-yellow-500
}



